services:
  ulinkshortener:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/kizuren/ulinkshortener
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://justauser:veryimportantpasswd@mongo:27017/ulinkshortener?authSource=admin
      - MONGO_DB_NAME=ulinkshortener
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
    env_file:
      - .env
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: ulinkshortener-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: justasuser
      MONGO_INITDB_ROOT_PASSWORD: veryimportantpasswd
      MONGO_INITDB_DATABASE: ulinkshortener
    command: mongod --bind_ip_all
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb

volumes:
  mongo_data:
  mongo_config:
